# git ignore file
RMM/RMM.Phone/Bin/*
RMM/RMM.Phone/obj*
.gitignore




#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
RMM/RMM.suo
RMM/RMM.suo
RMM/RMM.Phone/obj/Debug/DesignTimeResolveAssemblyReferences.cache
RMM/RMM.Phone/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
